<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>

    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Non Profit Organization In India, Children Health and Education Foundation,Health, Education, Environment, Livelihood, Agricultural, Sports & Events, Urban Renewal,
Rural Development, Women Empowerment, Disaster Management, Art & Culture,Clean India, Green India, Girl’s Education, 100 Bed Charitable Hospital, Vocational Training Centre, Weekly Medical Camp In Rural Areas, Charitable Public School, Ab har koi padega, Ab baari hai hamari, Sanitary Pads Distribution For Poor Women." />
    <meta name="keywords" content="ODH FOUNDATION,ODH FOUNDATION,nonprofit ODH FOUNDATION,orphan,Poor,funding,fundrising,ngo,children,ODH FOUNDATION " />
    <meta name="author" content="Non Profit Organization In India, Health, Education, Environment, Livelihood, Agricultural, Sports & Events, Urban Renewal,
Rural Development, Women Empowerment, Disaster Management, Art & Culture,Clean India, Green India, Girl’s Education, 100 Bed Charitable Hospital, Vocational Training Centre, Weekly Medical Camp In Rural Areas, Charitable Public School, Ab har koi padega, Ab baari hai hamari, Sanitary Pads Distribution For Poor Women. - ODH FOUNDATION" />

    <!-- Page Title -->
    <title>ODH FOUNDATION</title>

    <!-- Favicon and Touch Icons -->
    <link href="../Content/Home/projectimg/logo.png" rel="shortcut icon" type="image/png">
    <link href="~/Content/Home/images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="~/Content/Home/images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="~/Content/Home/images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="~/Content/Home/images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">

    <!-- Stylesheet -->
    <link href="~/Content/Home/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Home/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Home/css/animate.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Home/css/css-plugin-collections.css" rel="stylesheet" />
    <!-- CSS | menuzord megamenu skins -->
    <link id="menuzord-menu-skins" href="~/Content/Home/css/menuzord-skins/menuzord-rounded-boxed.css" rel="stylesheet" />
    <!-- CSS | Main style file -->
    <link href="~/Content/Home/css/style-main.css" rel="stylesheet" type="text/css">
    <!-- CSS | Preloader Styles -->
    <link href="~/Content/Home/css/preloader.css" rel="stylesheet" type="text/css">
    <!-- CSS | Custom Margin Padding Collection -->
    <link href="~/Content/Home/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
    <!-- CSS | Responsive media queries -->
    <link href="~/Content/Home/css/responsive.css" rel="stylesheet" type="text/css">
    <!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
    <!-- <link href="~/Content/Home/css/style.css" rel="stylesheet" type="text/css"> -->

    <!-- Revolution Slider 5.x CSS settings -->
    <link href="~/Content/Home/js/revolution-slider/css/settings.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Home/js/revolution-slider/css/layers.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Home/js/revolution-slider/css/navigation.css" rel="stylesheet" type="text/css" />

    <!-- CSS | Theme Color -->
    <link href="~/Content/Home/css/colors/theme-skin-color-set-1.css" rel="stylesheet" type="text/css">

    <!-- external javascripts -->
    <script src="~/Content/Home/js/jquery-2.2.4.min.js"></script>
    <script src="~/Content/Home/js/jquery-ui.min.js"></script>
    <script src="~/Content/Home/js/bootstrap.min.js"></script>
    <!-- JS | jquery plugin collection for this theme -->
    <script src="~/Content/Home/js/jquery-plugin-collection.js"></script>

    <!-- Revolution Slider 5.x SCRIPTS -->
    <script src="~/Content/Home/js/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Content/Home/js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
    <style type="text/css">
          p {
        text-align:justify;
    }

    </style>
</head>
   
<body class="">
    <div id="wrapper" class="clearfix">
        <!-- preloader -->
        <div id="preloader">
            <div id="spinner">
                <img alt="" src="~/Content/Home/images/preloaders/5.gif">
            </div>
            <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
        </div>

        <!-- Header -->
        <header id="header" class="header">
            <div class="header-top bg-theme-color-2 sm-text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 pt-10 pb-10 ">
                            <div class="widget no-border m-0">
                                <ul class="list-inline">
                                    <li class="m-0 pl-10 pr-10"><i class="fa fa-phone text-white"></i>&nbsp;&nbsp;<a class="text-white" href="#">0512-2220000</a> </li>
                                    <li class="m-0 pl-10 pr-10"><i class="fa fa-envelope-o text-white"></i>&nbsp;&nbsp;<a class="text-white" href="#">contactus@odhfoundation.org</a> </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 pt-10 pb-10">
                            <div class="widget no-border m-0">
                                <ul class="list-inline text-right sm-text-center">
                                    <li>
                                        <a href="#" class="text-white">PAN&nbsp;: AADCO9821D </a>
                                    </li>
                                    <li class="text-white">|</li>
                                    <li>
                                        <a href="#" class="text-white">80G NUMBER&nbsp;: AADCO9821DF20231</a>
                                    </li>
                                    <li class="text-white">|</li>
                                    <li>
                                        <a href="../Home/Careers" class="text-white">Careers</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-1 pb-10">
                            <div class="widget no-border m-0">
                                <ul class="list-inline pull-right flip sm-pull-none sm-text-center mt-5">
                                    <li class="mt-sm-10 mb-sm-10">
                                        <!-- Modal: Appointment Starts -->
                                        <a class="btn btn-default btn-flat btn-xlg bg-green p-5 font-11 pl-10 pr-10 " href="../Home/Donation">Donate Now</a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-nav">
                <div class="header-nav-wrapper navbar-scrolltofixed bg-white">
                    <div class="container">
                        <nav id="menuzord-right" class="menuzord default">
                            <a class="menuzord-brand pull-left flip"  href="../Home/Index">
                                <img src="../Content/Home/projectimg/logo.png" style="height: 30px; width: 220px;" />
                            </a>
                            <ul class="menuzord-menu">
                                <li class="active"><a href="../Home/Index">Home</a></li>
                                <li id="menu-item"><a title="Services" class="menu-item-link" href="../Home/About"><span>About Us</span> </a>
@*<ul class="dropdown">
	<li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page menu-item"><a title="Services Gird" class="menu-item-link" href="#">About ODH Foundation</a>	</li>
	<li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-services menu-item"><a title="Services Details" class="menu-item-link" href="#">Vision</a>	</li>
    <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page menu-item"><a title="Services Gird" class="menu-item-link" href="#">Mission</a>	</li>
	<li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-services menu-item"><a title="Services Details" class="menu-item-link" href="#">Our Team</a>	</li>
</ul>*@
</li>
                                                                                   


                                <li id="menu-item"><a title="Services" class="menu-item-link" href="#"><span>Our Project</span> </a>
                                    <ul class="dropdown">
                                        <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page menu-item"><a title="Services Gird" class="menu-item-link"  href="../Home/Health">Health</a>	</li>
                                        <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-services menu-item"><a title="Services Details" class="menu-item-link"  href="../Home/Education">Education</a>	</li>
                                        <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page menu-item"><a title="Services Gird" class="menu-item-link" href="../Home/Environment">Environment</a>	</li>
                                        <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-services menu-item"><a title="Services Details" class="menu-item-link"  href="../Home/Livelihood">Livelihood</a>	</li>
                                        <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page menu-item"><a title="Services Gird" class="menu-item-link" href="../Home/Agriculture">Agriculture</a>	</li>
                                        <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-services menu-item"><a title="Services Details" class="menu-item-link" href="../Home/Sports">Sports & Events</a>	</li>
                                        <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page menu-item"><a title="Services Gird" class="menu-item-link" href="../Home/UrbanRenewal">Urban Renewal</a>	</li>
                                        <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-services menu-item"><a title="Services Details" class="menu-item-link" href="../Home/RuralDevelopment">Rural Development</a>	</li>
                                         <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-services menu-item"><a title="Services Details" class="menu-item-link"  href="../Home/WomenEmp">Women Empowerment</a>	</li>
                                        <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page menu-item"><a title="Services Gird" class="menu-item-link" href="../Home/DistaterManagement">Disaster Management</a>	</li>
                                        <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-services menu-item"><a title="Services Details" class="menu-item-link" href="../Home/ArtCulture">Art & Culture</a>	</li>

                                    </ul>
                                </li>
                                
                                                                                           
                                                                                          
                                                                                           
                                                                                            
                                                                                            
                                                                                            
                                                                                            
                                                                                             

                                 <li id="menu-item"><a title="Services" class="menu-item-link" href="#"><span>Campaigns</span> </a>
                                    <ul class="dropdown">
                                        <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page menu-item"><a title="Services Gird" class="menu-item-link" href="#">Ab Har Koi Padega</a>	</li>
                                        <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-services menu-item"><a title="Services Details" class="menu-item-link" href="#">Ab Baari Hai Hamari</a>	</li>
                                        <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-services menu-item"><a title="Services Details" class="menu-item-link" href="#">Clean India, Green India</a>	</li>

                                        <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page menu-item"><a title="Services Gird" class="menu-item-link" href="../Home/GirlEducation">Girl’s Education</a>	</li>

                                        <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page menu-item"><a title="Services Gird" class="menu-item-link" href="../Home/SanitaryPad"> Sanitary Pads Distribution For Poor Women</a>	</li>
                                        <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-services menu-item"><a title="Services Details" class="menu-item-link" href="#">100 Bed Charitable Hospital</a>	</li>
                                        <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page menu-item"><a title="Services Gird" class="menu-item-link" href="#">Vocational Training Centre</a>	</li>
                                        <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-services menu-item"><a title="Services Details" class="menu-item-link" href="#">Weekly Medical Camp In Rural Areas</a>	</li>
                                        <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page menu-item"><a title="Services Gird" class="menu-item-link" href="#">Charitable Public School</a>	</li>
                              
                      

                                    </ul>
                                </li>
                                 <li><a href="../Home/CSR">CSR</a></li>
                                 <li id="menu-item"><a title="Services" class="menu-item-link" href="../Home/Volunteer"><span>Volunteer</span> </a>
<ul class="dropdown">
	<li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page menu-item"><a title="Services Gird" class="menu-item-link" href="../Home/Volunteer"> Volunteer Registration</a>	</li>
	<li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-services menu-item"><a title="Services Details" class="menu-item-link" href="../Home/VolunteerInfo">Volunteer Opportunities</a>	</li>
   </ul>
                                  <li id="menu-item"><a title="Services" class="menu-item-link" href="#"><span>Media</span> </a>
<ul class="dropdown">
	<li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page menu-item"><a title="Services Gird" class="menu-item-link" href="#">Print & Social Media</a>	</li>
	<li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-services menu-item"><a title="Services Details" class="menu-item-link" href="#">Electronic Media</a>	</li>
    <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page menu-item"><a title="Services Gird" class="menu-item-link" href="#">Press Release</a>	</li>
	<li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-services menu-item"><a title="Services Details" class="menu-item-link" href="#">Workshop & Event Updates</a>	</li>
</ul>
                              @*  <li><a href="../Home/PrivacyPolicy">Carrers</a></li>*@
                               
                                <li><a href="../Home/Contact">Contact Us</a></li>
                                 <li><a href="../Home/Donation">Donate Us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>

        <!-- Footer -->
        <footer id="footer" class="footer bg-black-222">
            <div class="container pt-50 pb-40">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="widget">
                            <p class="font-16 mb-10" style="color:#FFFFFF">
                               
                                Scan QR Code to Donate
                                
                            </p>
                            <img  alt="" src="../Content/Home/images/ODHQR.jpg"  style="height:150px; width:180px;"/>
                             
                            
                          
                           
                        </div>
                        <div class="widget">
                            <img  alt="" src="../Content/Home/images/1%20(1).png"  style="height:120px; width:180px;"/>
                            <div></div>
                            <p class="font-16" style="color:#FFFFFF">
                               
                                To Know More About <br />ODH Foundation
                                                            <a class="font-14 text-white" s href="../Home/About">Click Here<i class="text-theme-colored fa fa-angle-double-right text-theme-colored"></i></a>

                            </p>
                          
                            <ul class="styled-icons icon-dark mt-20">
                                <li class="wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".1s" data-wow-offset="10"><a href="https://www.facebook.com/profile.php?id=100091332668072&mibextid=ZbWKwL" target="_blank" data-bg-color="#3B5998"><i class="fa fa-facebook-f"></i></a></li>
                                <li class="wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s" data-wow-offset="10"><a href="https://twitter.com/odhfoundation?s=11&t=8mUJl6Kp30x1Wj-uA2g5rQ" target="_blank" data-bg-color="#02B0E8"><i class="fa fa-twitter"></i></a></li>
@*                                <li class="wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".3s" data-wow-offset="10"><a href="#" target="_blank" data-bg-color="#05A7E3"><i class="fab fa-skype"></i></a></li>*@
                                <li class="wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".4s" data-wow-offset="10"><a href="https://www.instagram.com/odhfoundation/?igshid=OTJhZDVkZWE%3D" target="_blank" data-bg-color="#A11312"><i class="fa fa-instagram"></i></a></li>
                                <li class="wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".5s" data-wow-offset="10"><a href="https://www.youtube.com/channel/UCQwDnVpuD7qoiU3XUufqf5g" target="_blank" data-bg-color="#C22E2A"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="widget dark">
                            <h5 class="widget-title line-bottom">Focus Area</h5>
                            <ul>
                                <li ><a href="../Home/Health">Health</a></li>
                                <li><a href="../Home/Education">Education</a></li>
                                <li><a href="../Home/Environment">Environment</a></li>
                                <li><a href="../Home/Livelihood">Livelihood</a></li>
                                <li><a href="../Home/Agriculture">Agricultural</a></li>
                                <li><a href="../Home/Sports">Sports & Events</a></li>
                                <li><a href="../Home/UrbanRenewal">Urban Renewal</a></li>
                                <li><a href="../Home/RuralDevelopment">Rural Development</a></li>
                                <li><a href="../Home/WomenEmp">Women Empowerment</a></li>
                                <li><a href="../Home/DistaterManagement">Disaster Management</a></li>
                                <li><a href="../Home/ArtCulture">Art & Culture</a></li>
                            </ul>
                        </div>
                    </div>
                   


                    <div class="col-sm-6 col-md-3">
                        <div class="widget dark">
                            <h5 class="widget-title line-bottom">Quick Links</h5>
                            <ul>
                                <li><a href="../Home/FAQ">FAQ's</a></li>
                                <li><a href="../Home/Careers">Careers</a></li>
                                <li><a href="../Home/Volunteer">Volunteer</a></li>
                                <li><a href="../Home/TermCondition">Terms & Condition</a></li>
                                <li><a href="../Home/PrivacyPolicy">Privacy Policy</a></li>
                                <li><a href="../Home/DonorPolicy">Donor & Fundraising Privacy Policy</a></li>
                                <li><a href="../Home/CancellationPolicy">Cancellation & Refund Policy</a></li>
                                <li><a href="../Home/Donation">Donate Us</a></li>
                                <li><a href="../Home/Contact">Contact Us</a></li>
                                 <li><a href="../Home/Donation">Bank Details</a></li>
                                <li><a href="../Home/Disclaimer">Disclaimer</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="widget dark">
                            <h5 class="widget-title line-bottom">Contact Us</h5>
                            <ul class="list-border">
                               <li><a href="#" class="lineheight-20"><h5 class="widget-title"> ODH Foundation</h5>N/ML 27 First Floor, Keshavpuram, Awas Vikas No. 1, Kalyanpur, Kanpur Nagar(U.P.)-208017</a></li>

                                <li><a href="#">Phone   : 0512-2220000</a></li>
                                <li><a href="#">Mobile  : +91-9795505106</a></li>
                                <li><a href="#">Email   : contactus@odhfoundation.org</a></li>
                                
                            </ul>
                            <p class="font-16 text-white mb-5 mt-15">Sign Up For Latest Updates</p>
                             <p class="font-16 mb-5 mt-15" style="color:#FFFFFF">To keep yourself updated on latest news and programs at ODH Foundation, drop in your E-mail ID</p>
                            <form id="footer-mailchimp-subscription-form" class="newsletter-form mt-10">
                                <label class="display-block" for="mce-EMAIL"></label>
                                <div class="input-group">
                                    <input type="email" value="" name="EMAIL" placeholder="Your Email" class="form-control" data-height="37px" id="mce-EMAIL">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-colored btn-theme-colored m-0">Subscribe<i class="fa fa-paper-plane-o text-white"></i></button>
                                    </span>
                                </div>
                            </form>

                            <!-- Mailchimp Subscription Form Validation-->
                            <script type="text/javascript">
                                $('#footer-mailchimp-subscription-form').ajaxChimp({
                                    callback: mailChimpCallBack,
                                    url: '//thememascot.us9.list-manage.com/subscribe/post?u=a01f440178e35febc8cf4e51f&amp;id=49d6d30e1e'
                                });

                                function mailChimpCallBack(resp) {
                                    // Hide any previous response text
                                    var $mailchimpform = $('#footer-mailchimp-subscription-form'),
                                        $response = '';
                                    $mailchimpform.children(".alert").remove();
                                    if (resp.result === 'success') {
                                        $response = '<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + resp.msg + '</div>';
                                    } else if (resp.result === 'error') {
                                        $response = '<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + resp.msg + '</div>';
                                    }
                                    $mailchimpform.prepend($response);
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom bg-black-333">
                <div class="container pt-20 pb-20">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="font-15 text-white m-0" style="text-align:center">Copyright © 2023 ODH Foundation NGO in India-Non Profit Organization - All Rights Reserved.</p>
                        </div>
                        @*<div class="col-md-6 text-right">
                            <div class="widget no-border m-0">
                                <ul class="list-inline text-white sm-text-center mt-5 font-15">
                                    <li>
                                        <a href="../Home/FAQ">FAQ</a>
                                    </li>
                                    <li>|</li>
                                    <li>
                                        <a href="../Home/Volunteer">Volunteer</a>
                                    </li>
                                    <li>|</li>
                                    <li>
                                        <a href="../Home/Contact">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </footer>
        <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
    </div>
    <!-- end wrapper -->

    <!-- Footer Scripts -->
    <!-- JS | Custom script for all pages -->
    <script src="~/Content/Home/js/custom.js"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  
      (Load Extensions only on Local File Systems ! 
       The following part can be removed on Server for On Demand Loading) -->
    <script type="text/javascript" src="~/Content/Home/js/revolution-slider/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="~/Content/Home/js/revolution-slider/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="~/Content/Home/js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="~/Content/Home/js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/Content/Home/js/revolution-slider/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="~/Content/Home/js/revolution-slider/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="~/Content/Home/js/revolution-slider/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="~/Content/Home/js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="~/Content/Home/js/revolution-slider/js/extensions/revolution.extension.video.min.js"></script>
</body>

</html>
