@{
    ViewBag.Title = "AbBaariHaiHamari";
}



<style>

   
     body {
        text-align:justify;
        
    }
</style>
<!-- Start main-content -->
<div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="../Content/Home/images/bg/bg6.jpg">
        <div class="container pt-70 pb-20">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title text-white text-center">Ab Baari Hai Hamari</h2>
                        <ol class="breadcrumb text-left text-black mt-10">
                            <li><a href="#">Home</a></li>
                            <li><a href="../Home/AbBaariHaiHamari">Ab Baari Hai Hamari</a></li>

                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: About -->
    <section id="about">
        <div class="container pr-0 pl-30 mt-60 pb-40 pt-0">
            <div class="section-content">
                <div class="row mt-10">
                    <div class="col-xs-12 col-sm-12 col-md-12 mb-sm-20 p-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h3 class="text-theme-colored mt-0 pt-5">Why Livelihood & Vocational Training </h3>
                        <p class="mb-20">According to World Bank data, the global poverty rate has fallen steadily over the last 25 years. However, India is still grappling with the critical challenge of rural poverty that impacts millions of Indians. Over two-thirds of India’s population still lives in rural and semi-rural areas, where there is a daily struggle to earn enough from farm-related activities to feed the household. Families in rural areas find it tough to break out of the cycle of poverty, primarily because a majority of Indian agriculture-based incomes continue to be dependent on the monsoons. Additionally, poor soil conditions, minimal use of modern farming methods, lack of systematic irrigation facilities, absence of post-harvest facilities and sustainable market linkages combine to put farm-based income generation capabilities in jeopardy.</p>
                         <p class="mb-20">Youth comprise one-third of the Indian population which in turn constitutes a major part of the country's labor force. A country like India which has a huge young population can reap better benefits from the demographic dividend if its youth are better skilled and employable. It is important to channelize the energy of the underprivileged youth in the right direction to help in the country's economic development and nation building.</p>
                         <p class="mb-20">Vocational training is the instructional program that prepares you for an occupation that requires a specialised skill, such as a technician, artisan or tradesperson. It may involve imparting classroom instructions, hands-on training or a combination of both. You may also undergo vocational training directly as an apprentice or a trainee with or without any formal qualification.</p>
                       <p class="mb-20"><b>Vocational training is important due to the following reasons:</b></p>
                        <div class="col-xs-12">	

                      

                            <ul class="mt-10">
                                    <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	It offers training for specific skills and jobs.</li>
                                    <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	It helps you perform your job better.</li>
                                    <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	It prepares you to take up a high-paying job or occupation almost immediately.</li>
                                    <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	It provides the much-needed skilled manpower to the industry.</li>
                                    <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	It offers employment opportunities in villages and small towns, which prevents population migration to large cities.
</li>
                                    <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	A majority of the vocational skills are universal in nature and they make you eligible for employment in foreign countries too.</li>
                                    <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	It offers a learning opportunity to those who missed the formal education or those who are not sure whether they should attend a school.</li>
                                    <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	It offers an opportunity to learn the skills of your choice and make a career switch at almost any point in time.</li>
                                   <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	Undergoing training from a vocational school earns you a certification from an independent organisation, which vouches for your skills and puts you in an &nbsp;&nbsp;&nbsp;&nbsp;advantageous position over informally trained candidates.</li>

                                </ul>
                      


                    </div>
                    </div>

                </div>
            </div>
            <div class="section-content">
                <div class="row mt-10">
                    <div class="col-xs-12 col-sm-12 col-md-12 mb-sm-20 p-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h3 class="text-theme-colored mt-0 pt-5">What we do</h3>
                        <p class="mb-20">ODH Foundation aim to create robust livelihood opportunities to enable households to earn more, and lead healthier lives. The Foundation builds social capital by promoting self-help groups, supporting initiatives towards preservation of traditional art and organizing skill development training. Specific programmes are designed for fishermen communities, farmers and cattle owners, youth and women. ODH Foundation through its Livelihood programme connects the unemployed youth from disadvantaged groups and communities with the sectors which have large growth potential in terms of revenue generation and employability. The staggering youth population underutilised in the job market because of a lack of requisite qualifications and training are upskilled, uplifted, and mainstreamed to become a part of the country’s growth story. </p>
                        <p class="mb-20">ODH Foundation, recognizing the need of the hour has launched its employability training initiative <b>“Ab Baari Hai Hamari”</b> to fight the challenges posed by poverty and unemployment. Our campaign <b>“Ab Baari Hai Hamari”</b> aims at training & up-skilling the youth between the age of 18-35 years for employment and empowering them with a secure livelihood.ODH Foundation is proud to announce that we are planning our own Vocational Training Centre to provide youth with vocational training and skills for employability with the all required training programs like-</p>
              <div class="col-xs-12">
                      

                                <ul class="mt-10">
<li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>   Digital & Social Media Marketing</li>
<li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	Banking Services</li>
<li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	Accounting and bookkeeping courses</li>
<li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	Welding training</li>
<li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	Pet grooming courses</li>
<li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	Beekeeping training</li>
<li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	Medical lab technician courses</li>
<li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	Physiotherapy courses</li>
<li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	Nursing Courses</li>
<li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	Air ticketing</li>
<li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	Laundry and dry cleaning</li>
<li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	Shoemaking and repair training</li>
<li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	Home appliance repair technician training (AC, refrigerator, cooler and washing machine repair)</li>
<li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	Soap and detergent making</li>
<li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	Battery charging, maintenance and testing</li>
<li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	Mobile, laptop and computer repair training</li>
<li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	TV and radio repair training</li>
<li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	Plumbing, masonry and electrical training</li>
<li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	Tour guide courses</li>
<li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	Horticulture and cut flower courses</li>
<li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	Makeup and beautician training</li>
<li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	Mehendi designing</li>
<li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	Cooking and baking classes</li>
<li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	Sewing, stitching and tailoring</li>
<li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	Carpentry training</li>
<li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	Jewelry designing courses</li>
<li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	Automobile mechanic courses</li>

                                    
                                  
                                </ul>
                       <p class="mb-20"><strong><b>Donate now to bring a positive change in the lives of poor and underprivileged youth through skill training, employment and a dignified livelihood.</b></strong></p>



                        <a class="btn btn-colored btn-theme-colored btn-lg text-uppercase font-13 mt-0" href="../Home/Donation?cause=Ab Baari Hai Hamari">Donate Now</a>


                    </div>

                </div>
            </div>

        </div>
    </section>



</div>
<!-- end main-content -->



