@{
    ViewBag.Title = "CancellationPolicy";
}


<style>
    ul {
        list-style-type: square;
    }
    body {
        text-align:justify;
    }
</style>
  <!-- Start main-content -->
  <div class="main-content bg-lighter">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="../Content/Home/images/bg/bg6.jpg">
      <div class="container pt-70 pb-20">
        <!-- Section Content -->
        <div class="section-content">
          <div class="row">
            <div class="col-md-12">
              <h2 class="title text-white text-center">Cancellation & Refund Policy</h2>
              <ol class="breadcrumb text-left text-black mt-10">
                <li><a href="#">HOME</a></li>
                <li><a href="../Home/CancellationPolicy">Cancellation & Refund Policy</a></li>
             
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
         
	

          <div class="col-md-10 col-md-push-1">
            <div id="section-one" class="mb-50">
              <h3>Cancellation & Refund Policy</h3>
              <hr>
              <h5 class="text-theme-colored mt-0 pt-5">ODH Foundation make public its policy on Cancellation and Refund of donations received for the social cause on payment gateway as under:-</h5>
                            
                <ul>
                    <li>No refund/cancellation for the donated amount by any donor will not be entertained.                  
                    </li>
                    <li>Once received the donation for a cause will not be refunded to the donor.The donation will be used for the education, health, sustainable livelihoods, skill development and women economic empowerment, innovative healthcare awareness program, empower underprivileged children.</li>
                </ul>
               
            </div>
            
            
            
            
              
               
               
          </div>
        </div>
      </div>
    </section>

  </div>
  <!-- end main-content -->
  
  