@{
    ViewBag.Title = "Careers";
}
<style>

    ul {
        list-style-type: square;
    }
     body {
        text-align:justify;
        
    }
</style>
<div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="../Content/Home/images/bg/bg6.jpg">
        <div class="container pt-70 pb-20">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title text-white text-center">Careers</h2>
                        <ol class="breadcrumb text-left text-black mt-10">
                            <li><a href="#">Home</a></li>
                            <li><a href="../Home/Careers">Careers</a></li>
                           
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: About -->
    <section id="about">
        <div class="container pr-0 pl-30 mt-60 pb-40 pt-0">
            <div class="section-content">
               <div class="col-md-10 col-md-push-1">
            <div id="section-one" class="mb-50">
                        <h3 class="text-theme-colored mt-0 pt-5">Careers</h3>
                        <p class="mb-20">ODH Foundation, the philanthropic arm of ODH Group, aims to play a catalytic role in addressing the nation’s development challenges through innovative and sustainable solutions. Under the leadership of Founder and Chairman Mr. Deepankar Kushwaha, ODH Foundation is relentlessly working towards facilitating transformational changes to ensure holistic well-being and higher quality of life for all. ODH Foundation is active in the core areas of Education, Health, Environment, Sustainable Livelihoods, Agricultural, Skill Development and Women Empowerment, Innovative Healthcare Awareness Program, Empower Underprivileged Children, Art & Culture.</p>
                        <p class="mb-20">ODH Foundation is an equal opportunity employer and we believe in the power of every individual’s potential. We are constantly looking for enthusiastic, sincere and talented individuals to enhance our efforts in the field of social development who aspire to be changemakers and are passionate about impacting lives for a fulfilling career with us.</p>
                       
                                                <p class="mb-20"><strong>If you want to be a part of the ODH Foundation, please mail us your CV at</strong> <b class="text-theme-colored">contactus@odhfoundation.org</b></p>

                       
                    </div>

                </div>
            </div>
            
            
        </div>
    </section>



</div>


