@{
    ViewBag.Title = "Charitable Hospital";
}


<style>

    ul {
        list-style-type: square;
    }
     body {
        text-align:justify;
        
    }
</style>
<!-- Start main-content -->
<div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="../Content/Home/images/bg/bg6.jpg">
        <div class="container pt-70 pb-20">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title text-white text-center">Charitable Hospital</h2>
                        <ol class="breadcrumb text-left text-black mt-10">
                            <li><a href="#">Home</a></li>
                            <li><a href="../Home/CharitableHospital">Charitable Hospital</a></li>

                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: About -->
    <section id="about">
        <div class="container pr-0 pl-30 mt-60 pb-40 pt-0">
            <div class="section-content">
                <div class="row mt-10">
                    <div class="col-xs-12 col-sm-12 col-md-12 mb-sm-20 p-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h3 class="text-theme-colored mt-0 pt-5">Why Charitable Hospital  </h3>
                        <p class="mb-20">As the world's most populous country and one of its fastest growing economies, India faces both unique challenges and unprecedented opportunities in the field of public health. Indian government and public health officials agree that the country also faces persistent and daunting public health challenges, particularly for the poor. These include child undernutrition and low birth weights that often lead to premature death or lifelong health problems; high rates of neonatal and maternal mortality; growth in non-communicable diseases such as obesity, diabetes, and tobacco use, leading to cancer and other diseases; and high rates of road traffic accidents that result in injuries and deaths. Most of India's population resides in rural areas where even today there is a lack of adequate medical facilities. They have to go to cities for emergency medical facilities, which are still far away from villages. Due to poverty and expensive treatment, even today many patients are dying due to lack of treatment. Charitable hospitals play a very important role in providing good and affordable treatment.</p>
                        
                    </div>

                </div>
            </div>
            <div class="section-content">
                <div class="row mt-10">
                    <div class="col-xs-12 col-sm-12 col-md-12 mb-sm-20 p-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h3 class="text-theme-colored mt-0 pt-5">What we do</h3>
                        <p class="mb-20">ODH Foundation charitable hospital will serve the needy people by providing free healthcare services to thousands of poor of rural and urban areas who can’t afford health care. The situation has worsened after the pandemic of the COVID-19. Our Indian government is committed to providing quality health care but it is not satisfactory. There are government hospitals and primary health centres but their service is not encouraging. Most of the poor people mainly depends on government infrastructure. This Charitable hospital will enable ODH Foundation to help some of them and ensure all the facilities that the patients need are free of cost. This intervention will also be an attempt to satisfy the concern of better health care to rural people. This proposed charitable hospital is expected to be completed and ready for operations within 3 - 4 years. It will have 7 Floors and 100 beds including 30 ICU beds.</p>

                        <p class="mb-20"><b>The proposed hospital will consist facilities like</b> OPD Wards, IPD Wards, 24 hours Pharmacy, Blood Bank, Trauma & Emergency Care, Modular Operation Theaters, NICU
30 Bedded Well Equipped ICU, Computerised EEG, PFT Test, Wellness Clinic, 24 hours Ambulance Facility, Advance Laboratory System, Digital X-Ray, Color Doppler, 2D Echocardiogram, Holter Monitoring, Ultrasonography, MRI, CT Scan,Food Plaza, Doctor Rooms, Dining Hall for Attenders.</p>
                        <p class="mb-20"><strong><b>Join us in helping to bring a positive change to the lives of the poor and the needy!</b></strong></p>



                        <a class="btn btn-colored btn-theme-colored btn-lg text-uppercase font-13 mt-0" href="../Home/Donation?cause=100 Bed Charitable Hospital">Donate Now</a>


                    </div>

                </div>
            </div>

        </div>
    </section>



</div>
<!-- end main-content -->

