@{
    ViewBag.Title = "Charitable School";
}


<style>

   
     body {
        text-align:justify;
        
    }
</style>
<!-- Start main-content -->
<div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="../Content/Home/images/bg/bg6.jpg">
        <div class="container pt-70 pb-20">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title text-white text-center">Charitable Public School</h2>
                        <ol class="breadcrumb text-left text-black mt-10">
                            <li><a href="#">Home</a></li>
                            <li><a href="../Home/CharitableSchool">Charitable Public School</a></li>

                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: About -->
    <section id="about">
        <div class="container pr-0 pl-30 mt-60 pb-40 pt-0">
            <div class="section-content">
                <div class="row mt-10">
                    <div class="col-xs-12 col-sm-12 col-md-12 mb-sm-20 p-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h3 class="text-theme-colored mt-0 pt-5">Why Charitable Public School  </h3>
                        <p class="mb-20">ODH Foundation believes that education is what makes us humans.  Education is a process of expediting learning, acquiring knowledge, values, and virtue. Education not only empowers people to have a secure future but also helps them grow up as responsible national and global citizens. It is more of an enduring method in which people gain information, skills, and ethics. There is a narrow line that runs between learning and education. Education helps you develop critical skills like decision-making, mental agility, problem-solving, and logical thinking. People face problems in their professional as well as personal lives. In such situations, their ability to make rational and informed decisions comes from how educated and self-aware they are. The right to education act which came into force in 2010 made education free and compulsory for all children in the age group of 6-14 years. But even after several decades, the learning curve of many children in the country is unsustainable.The socio-economic conditions of parents and lack of proper schooling and high cost of education are barriers that prevent many children from having education. If we need to address healthcare, population control, unemployment and poverty today, there is no better way than to provide education to children who need it.</p>
                        
                    </div>

                </div>
            </div>
            <div class="section-content">
                <div class="row mt-10">
                    <div class="col-xs-12 col-sm-12 col-md-12 mb-sm-20 p-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h3 class="text-theme-colored mt-0 pt-5">What we do</h3>
                        <p class="mb-20">Our focus is explicitly on the well-being/education of poor children and girls including from tribal and Dalit communities which include programs for their education/health, so that they can live with dignity and security. We have started changing children’s lives with the launch of our <b>"Ab Har Koi Padhega"</b> Initiative. Mission <b>"Ab Har Koi Padhega"</b> works for the children with age group of 3-20 years living in difficult circumstances, children from poor families, street children, and children living in tribal belts, remote villages and inaccessible areas. The initiative aims will provide fees for poor students, their required school uniforms and textbooks for children in need. The program is a merit and financial need based scholarship program that ensures well deserving children are not limited in pursuing their dreams. ODH Foundation is proud to announce that we are planning our own Charitable Public School to provide value-based education for comprehensive development of children with the all required facilites like-</p>
                         <div class="col-xs-12">
                      

                                <ul class="mt-10">
                                    <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	Smart Classroom</li>
                                    <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	Residential facilities.</li>
                                    <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	Quality education from LKG to class XII.</li>
                                    <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	Various vocational courses as per the requirement of the students.</li>
                                    <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	Medical test on regular basis.</li>
                                    <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	Coaching classes for competitive entrance examinations.</li>
                                    <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	Spacious and ultra modern library with a wide range of books on all subjects.</li>
                                    <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	Well Equipped laboratories of Physics, Chemistry and Biology with latest facilities.</li>

                                </ul>
                       <p class="mb-20"><strong><b>Why not help a child unlock the door to a better future today?</b></strong></p>



                        <a class="btn btn-colored btn-theme-colored btn-lg text-uppercase font-13 mt-0" href="../Home/Donation?cause=Charitable Public School">Donate Now</a>


                    </div>

                </div>
            </div>

        </div>
    </section>



</div>
<!-- end main-content -->


