@{
    ViewBag.Title = "CSR";
}

<style>
    body {
        text-align:justify;
         
    }
</style>
<!-- Start main-content -->
<div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="../Content/Home/images/bg/bg6.jpg">
        <div class="container pt-70 pb-20">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title text-white text-center">CSR</h2>
                        <ol class="breadcrumb text-left text-black mt-10">
                            <li><a href="#">Home</a></li>
                            <li><a href="../Home/CSR">CSR</a></li>
                           
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: About -->
    <section id="about">
        <div class="container pr-0 pl-30 mt-60 pb-40 pt-0">
            <div class="section-content">
                <div class="row mt-10">
                    <div class="col-xs-12 col-sm-12 col-md-12 mb-sm-20 p-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                       @* <h3 class="text-uppercase mt-0">Welcome To <span class="text-theme-colored">ODH Foundation</h3>*@
                        <h3 class="text-uppercase mt-0">ODH Foundation – <span class="text-theme-colored">An Ideal CSR Partner</span></h3>
                        <p class="mb-20">Enactment of Companies Act, 2013 by the Ministry of Corporate Affairs, Government of India was one of the world's largest experiments of introducing the CSR as a mandatory provision by imposing statutory obligation on Companies to take up CSR projects towards social welfare activities.</p>
                        <p class="mb-20">On April 1, 2014, India became the first country to legally mandate corporate social responsibility. In order to do business in India, any company has to get itself registered according to the Companies Act. But not every company in India comes under CSR. Small companies with very limited earnings are not obliged to spend on CSR. Corporate Social Responsibility has become mandatory through the provisions under Section 135 of the Companies Act, 2013. Every company that is private limited or public limited, has a net worth of Rs. 500 crore or more, or a turnover of Rs. 1,000 crore or more, or a net profit of Rs. 5 crore or more during any financial year has to spend a minimum 2% of the average net profits made during the 3 immediately preceding financial years.</p>
                        <h4 class="text-uppercase mt-0">Why it is beneficial for companies to follow CSR?</h4>
                        <p class="mb-20">
                            Companies which decide to follow CSR contribute to the social usefulness and sustainability. It is important that these activities are long term ones and make a part of a company policy. Thanks to ongoing efforts and activities it promotes a positive brand image of a company, which increases customer retention and loyalty. It is especially vital as more and more customers pay attention to the engagement of a business outside of its core functioning. Clients want to know how a company operates to enhance rather than degrade the society.
                        </p>
                        <p class="mb-20">
                            The companies which follow CSR rules have more trust from investors. If a business is transparent and its social interaction create more trust, it attracts more investments. What is more, the company improves its reputation which in long term generates more income. A company which implements the CSR strategy increases employee engagement, attracts new, valuable employees and allows to emerge young talents.
                        </p>
                        <p class="mb-20">
                            The businesses which apply CSR get engaged in activities supporting communities and very often save people’s lives. In this way they contribute to general well-being and make the world a better place. You can join CSR easily through cooperation with ODH Foundation. Whether you are a head of a large corporation or a sole trader, by cooperating with us you can influence the world and change it for the better.
                        </p>
                        <p class="mb-20">
                            This law can encourage realistic and operational models of engagement between stakeholders that can work towards empowerment of the society- the government, the NGO’s and the private sector.
                        </p>
                        <h4 class="text-uppercase mt-0">Why Partner With ODH Foundation? </h4>
                        <p class="mb-20">
                            ODH Foundation is an NGO for CSR with pan-India presence and deeply committed to making strategic social investments for sustainable outcomes across India. The Foundation is active in the core areas of education, health, sustainable livelihoods, skill development and women economic empowerment, innovative healthcare awareness program, empower underprivileged children. Its strategies are rooted in national priorities and achieving the global Sustainable Development Goals. ODH Foundation directly impacting the lives of communities in the remotest of villages and urban slums spread across states of Uttar Pradesh in India.
                        </p>
                        <p class="mb-20">
                            More than 75% of funding for our welfare projects comes from the CSR corporate support, and consequently the same standards of governance and efficiency, and the culture of excellence flow through our own operations.
                        </p>
                        <p class="mb-20">
                            Being a dedicated NGO, we have been able to channelize sizeable resources from responsible corporate, individuals and funding organizations, aiming to achieve the highest Social Return on Investment. 
                        </p>
                        <p class="mb-20">
                            When we partner with an organization, we strive to get it and its employees directly involved in our welfare initiatives, making them an active participant in the process of bringing change at the grassroots, we are striving to become the best NGOs for CSR in India.
                        </p>
                        <h4 class="text-uppercase mt-0">Benefits to Corporate with the ODH Foundation: </h4>
                        <div class="row">
                            <div class="col-xs-12">
                                <ul class="mt-10">
                                    <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	Eligible under CSR rules, Companies Act 2013.</li>
                                    <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	Eligible for Tax Exemption u/s 80G of Income Tax Act.</li>
                                    <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	Customize projects as per the need of the Donor Company.</li>
                                    <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	All documentation support provided like 3 years audited balance sheet, registration certificate, 80G, 12A certificate etc.</li>
                                    <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	All the beneficiary of the projects can be seen and a meeting can be organized with them.</li>
                                    <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	Your funds shall be used on the sector you choose – Education or Health, Environment, Livelihood & Women Empowerment.</li>
                                    <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	Promotions of your company on our Social Media Platforms, website and print media.</li>
                                    <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>	There is No minimum or maximum limit of donation. You may support us by any amount.</li>

                                </ul>
                            </div>

                        </div>

                        <a class="btn btn-colored btn-theme-colored btn-lg text-uppercase font-13 mt-0" href="../Home/Contact">Click Here For More Information</a>
                    </div>

                </div>
            </div>
        </div>
    </section>



</div>
<!-- end main-content -->
