@{
    ViewBag.Title = "Disclaimer";
}
<style>
    ul {
        list-style-type: square;
    }
    body {
        text-align:justify;
    }
</style>
<div class="main-content bg-lighter">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="../Content/Home/images/bg/bg6.jpg">
      <div class="container pt-70 pb-20">
        <!-- Section Content -->
        <div class="section-content">
          <div class="row">
            <div class="col-md-12">
              <h2 class="title text-white text-center">Disclaimer</h2>
              <ol class="breadcrumb text-left text-black mt-10">
                <li><a href="#">HOME</a></li>
                <li><a href="../Home/Disclaimer">Disclaimer</a></li>
             
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
         
	

          <div class="col-md-10 col-md-push-1">
            <div id="section-one" class="mb-50">
              <h3>Disclaimer</h3>
              <hr>
              <p class="mb-20">ODH Foundation shall try to provide only such information on the website www.odhfoundation.org which is right to the best of their awareness and belief. However, ODH Foundation does not hold itself responsible for any inexactness of facts or information provided on this site. Any accountabilities arising out of any act or omission by a visitor to this site, by depending on or making use of the information offered on this site, shall be completely to the account of such visitor. ODH Foundation disclaims any accountability, legal or else, that might arise because of the act, omission or otherwise of any visitor to this site, or caused by the same. Visitors to the site admit that ODH Foundation is only a “facilitator” for making donations, and as such, stands indemnified from any accountability that might arise because of the same. Visitors moreover acknowledge that visiting this site is an implicit reception of this disclaimer on their part.</p>
                            
                
               
            </div>
            
            
            
            
              
               
               
          </div>
        </div>
      </div>
    </section>

  </div>