@{
    ViewBag.Title = "Education";
   
}

<style>

    ul {
        list-style-type: square;
    }
     body {
        text-align:justify;
        
    }
</style>

<!-- Start main-content -->
<div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="../Content/Home/images/bg/bg6.jpg">
        <div class="container pt-70 pb-20">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title text-white text-center">Education</h2>
                        <ol class="breadcrumb text-left text-black mt-10">
                            <li><a href="#">Home</a></li>
                            <li><a href="../Home/Education">Education</a></li>
                           
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: About -->
    <section id="about">
        <div class="container pr-0 pl-30 mt-60 pb-40 pt-0">
            <div class="section-content">
                <div class="row mt-10">
                    <div class="col-xs-12 col-sm-12 col-md-12 mb-sm-20 p-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h3 class="text-theme-colored mt-0 pt-5">Why Education</h3>
                        <p class="mb-20">We are currently focusing on the poorest communities in India, where the state of affairs worsens daily. The need to provide the indian people with the basic amenities of life, such as food, clean water, shelter, healthcare, livelihood and education is our topmost priority. But no matter how hard we work, nothing can change the lives of the people more than quality education.</p>
                        <p class="mb-20">Education is a process of expediting learning, acquiring knowledge, values, and virtue. Education not only empowers people to have a secure future but also helps them grow up as responsible national and global citizens.  It is more of an enduring method in which people gain information, skills, and ethics. There is a narrow line that runs between learning and education.</p>
                        <p class="mb-20">
                            Education helps you develop critical skills like decision-making, mental agility, problem-solving, and logical thinking. People face problems in their professional as well as personal lives. In such situations, their ability to make rational and informed decisions comes from how educated and self-aware they are.The right to education act which came into force in 2010 made education free and compulsory for all children in the age group of 6-14 years. But even after several decades, the learning curve of many children in the country is unsustainable.The socio-economic conditions of parents and lack of proper schooling and high cost of education are barriers that prevent many children from having education.If we need to address healthcare, population control, unemployment and poverty today, there is no better way than to provide education to children who need it.
                        </p>
                        

                       
                    </div>

                </div>
            </div>
            <div class="section-content">
                <div class="row mt-10">
                    <div class="col-xs-12 col-sm-12 col-md-12 mb-sm-20 p-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h3 class="text-theme-colored mt-0 pt-5">What we do</h3>
                        <p class="mb-20">The main objective of ODH Foundation is to empower the underprivileged children of the society by providing education, nutrition and welfare support under the mission <b>"Ab Har Koi Padhega"</b>. Mission <b>"Ab Har Koi Padhega"</b> works for the children with age group of 3-20 years living in difficult circumstances, children from poor families, street children, and children living in tribal belts, remote villages and inaccessible areas.</p>
                        <p class="mb-20">Our aim is to trained qualified teachers who can go into the destitute and remote areas in India and work with the parents of the children to encourage them to pursue an education qualified teachers, who can teach not only grade school, but intermediate school subjects to prepare students to pass college and entrance exams, enabling them to pursue career goals such as nursing and journalism, mechanic, agriculturist and government sector. With proper nutrition and healthcare provided side by side, we will build a community that is safe for learning and is motivated to strive towards a successful future.</p>
                        
                        

                       
                    </div>

                </div>
            </div>
            <div class="section-content">
                <div class="row mt-10">
                    <div class="col-xs-12 col-sm-12 col-md-12 mb-sm-20 p-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h3 class="text-theme-colored mt-0 pt-5">You Can Help</h3>
                        <p class="mb-20">At ODH Foundation, our goal is to provide children with educational tools and opportunities that inspire them to become independent thinkers and future leaders.  Education is their key to building a better tomorrow. Your donations will help them to open the door to a brighter future.</p>
                        <p class="mb-20"><strong><b>Why not help a child unlock the door to a better future today?</b></strong></p>
                        
                        

                        <a class="btn btn-colored btn-theme-colored btn-lg text-uppercase font-13 mt-0" href="../Home/Donation">Donate Now</a>
                    </div>

                </div>
            </div>
        </div>
    </section>



</div>
<!-- end main-content -->


