@{
    ViewBag.Title = "Environment";
}


<style>

    ul {
        list-style-type: square;
    }
     body {
        text-align:justify;
        
    }
</style>
<!-- Start main-content -->
<div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="../Content/Home/images/bg/bg6.jpg">
        <div class="container pt-70 pb-20">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title text-white text-center">Environment</h2>
                        <ol class="breadcrumb text-left text-black mt-10">
                            <li><a href="#">Home</a></li>
                            <li><a href="../Home/Environment">Environment</a></li>

                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: About -->
    <section id="about">
        <div class="container pr-0 pl-30 mt-60 pb-40 pt-0">
            <div class="section-content">
                <div class="row mt-10">
                    <div class="col-xs-12 col-sm-12 col-md-12 mb-sm-20 p-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h3 class="text-theme-colored mt-0 pt-5">Why Environment  </h3>
                        <p class="mb-20">Environment is our basic life support system and is composed of living beings, physical surroundings, and climatic conditions. Environment includes all biotic and abiotic entities around us. Environment provides us with the essential elements like air, water, food, and land which are essential for life to flourish on the Earth.  </p>
                        <p class="mb-20">Humans form an integral part of the environment. They interact with the environment and modify it as per their needs and requirements, thus forming a human-made environment. With time, as humans evolved, their interaction with the environment also revolutionized, resulting in global environmental impact. Early humans used to adapt to the natural surroundings, however, contemporarily, as the human needs grew and became varied, the pressure on the environment also spiked, and more emphasis was given on judiciously using our environmental resources for meeting the needs of both present and future generations, to safeguard biodiversity and to protect life on Earth. </p>
                             <p class="mb-20">Our environmental resources are limited, living in harmony, and maintaining a right balance between the natural and human environment is of utmost importance and the only way to a sustainable future.</p>


                    </div>

                </div>
            </div>
            <div class="section-content">
                <div class="row mt-10">
                    <div class="col-xs-12 col-sm-12 col-md-12 mb-sm-20 p-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h3 class="text-theme-colored mt-0 pt-5">What we do</h3>
                        <p class="mb-20">Clean and green environment is a basic right of any citizen and it is the current generation's responsibility to pass a healthy and clean environment to the next generation. Our aim is to develop a lush-green and bio-diverse sustainable world for future generations with the core philosophy of, “planting trees for the people, by the people”. ODH Foundation works towards maintaining a healthy, natural environment by preservation, management and making the earth green with trees and in the process provide economic stability to poor rural communities by creating livelihood opportunities.</p>


                        <p class="mb-20"><strong><b>Why not help to Conservation the environment today for a better tomorrow?</b></strong></p>



                        <a class="btn btn-colored btn-theme-colored btn-lg text-uppercase font-13 mt-0" href="../Home/Donation">Donate Now</a>


                    </div>

                </div>
            </div>

        </div>
    </section>



</div>
<!-- end main-content -->
