@{
    ViewBag.Title = "FAQ";
}
<style>
    ul {
        list-style-type: square;
    }
    body p {
        text-align:justify;
       
    }
</style>

<!-- Start main-content -->
<div class="main-content bg-lighter">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="../Content/Home/images/bg/bg6.jpg">
        <div class="container pt-70 pb-20">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title text-white text-center">Frequently Asked Questions</h2>
                        <ol class="breadcrumb text-left text-black mt-10">
                            <li><a href="../Home/Index">Home</a></li>
                            
                            <li class="../Home/FAQ">FAQ</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                 
                <div class="col-md-8 col-md-offset-2">
                    <h3>ODH Foundation NGO FAQ's</h3>
                    <div id="accordion1" class="panel-group accordion">
                        <div class="panel">
                            <div class="panel-title"><a data-parent="#accordion1" data-toggle="collapse" href="#accordion11" class="collapsed" aria-expanded="true"><span class="open-sub"></span><strong>Do ODH Foundation accept cash donations?</strong></a> </div>
                            <div id="accordion11" class="panel-collapse collapse in" role="tablist" aria-expanded="true">
                                <div class="panel-content">
                                    <p>Yes, ODH Foundation can accept cash donations up to ₹ 2000 from each donor but we recommend all donations by cheque or online method.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-title"><a class="collapsed" data-parent="#accordion1" data-toggle="collapse" href="#accordion12" aria-expanded="false"><span class="open-sub"></span><strong>How does ODH Foundation raise its funds?</strong></a> </div>
                            <div id="accordion12" class="panel-collapse collapse" role="tablist" aria-expanded="false" style="height: 0px;">
                                <div class="panel-content">
                                    <p>We raise the funds that we need for our work with the help of kind individuals like you as well as through CSR grants by corporates and institutions.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-title"><a data-parent="#accordion1" data-toggle="collapse" href="#accordion13" class="collapsed" aria-expanded="false"><span class="open-sub"></span><strong> Are donations to ODH Foundation tax exempt?</strong></a> </div>
                            <div id="accordion13" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                                <div class="panel-content">
                                    <p>Yes - all donations to ODH Foundation are 50% exempt from tax under section 80G of the Income Tax Act 1961. This tax exemption is valid only in India.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-title"><a data-parent="#accordion1" data-toggle="collapse" href="#accordion14" class="collapsed" aria-expanded="false"><span class="open-sub"></span><strong> How will I get a tax exemption certificate for my donation?</strong></a> </div>
                            <div id="accordion14" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                                <div class="panel-content">
                                    <p>We will send you a 80G receipt (From 10BE) from ODH Foundation by email as soon as we receive your contribution. You may need to submit this receipt to claim tax exemption. According to the new rules, we are required to upload your details on the Income Tax Portal in the prescribed format at the end of the financial year.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-title"><a data-parent="#accordion1" data-toggle="collapse" href="#accordion15" class="collapsed" aria-expanded="false"><span class="open-sub"></span><strong> Do I get an acknowledgement receipt for donation made to ODH Foundation? If so, when?</strong></a> </div>
                            <div id="accordion15" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                                <div class="panel-content">
                                    <p>Yes ! 80 G receipt will be sent to you by email, within three days of receiving your contribution. Please make sure that you mention your full address, PAN number and email id in the donor details form. Or, if you have done a direct transfer, please share your payment details to us in the email id contactus@odhfoundation.org </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-title"><a data-parent="#accordion1" data-toggle="collapse" href="#accordion16" class="collapsed" aria-expanded="false"><span class="open-sub"></span><strong> How much donation should I give to ODH Foundation if I want to sponsor a child’s education?</strong></a> </div>
                            <div id="accordion16" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                                <div class="panel-content">
                                    <p>Generally, on an average a child’s education and health care expenses are ₹ 1250 per month. So you should give at least ₹ 15,000 to sponsor a child’s education and health care for a year.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-title"><a data-parent="#accordion1" data-toggle="collapse" href="#accordion17" class="collapsed" aria-expanded="false"><span class="open-sub"></span><strong> How will my contribution make a difference?</strong></a> </div>
                            <div id="accordion17" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                                <div class="panel-content">
                                    <p>All projects of ODH Foundation are based on the felt needs of the underserved and underprivileged communities. Your contribution will directly impact the life of a beneficiary - it could be a helpless child, a needy woman, a patient, an uneducated villager - or anyone who needs care and support. But it will definitely help bring a smile!</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-title"><a data-parent="#accordion1" data-toggle="collapse" href="#accordion18" class="collapsed" aria-expanded="false"><span class="open-sub"></span><strong> How many projects are running in this time?</strong></a> </div>
                            <div id="accordion18" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                                <div class="panel-content">
                                    <p>ODH Foundation has four projects based on Health, Education, Livelihood and Environment.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-title"><a data-parent="#accordion1" data-toggle="collapse" href="#accordion19" class="collapsed" aria-expanded="false"><span class="open-sub"></span><strong>How can I know about your projects?</strong></a> </div>
                            <div id="accordion19" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                                <div class="panel-content">
                                    <p>
                                        You can read our project at our website and for more details you can mail us at <b>contactus@odhfoundation.org</b> about this. Then we will send you our project’s detail in next 48 hrs.  or you can also get updated about our project by following on Twitter, Facebook, YouTube & Instagram. Click on the link given below to follow:
<br /><b>Twitter:  </b><a href="https://twitter.com/odhfoundation?s=11&t=8mUJl6Kp30x1Wj-uA2g5rQ" target="_blank">https://twitter.com/odhfoundation?s=11&t=8mUJl6Kp30x1Wj-uA2g5rQ</a>
<br /><b>Facebook: </b><a href="https://www.facebook.com/profile.php?id=100091332668072&mibextid=ZbWKwL" target="_blank">https://www.facebook.com/profile.php?id=100091332668072&mibextid=ZbWKwL</a>
<br /><b>YouTube:  </b><a href="https://www.youtube.com/channel/UCQwDnVpuD7qoiU3XUufqf5g " target="_blank">https://www.youtube.com/channel/UCQwDnVpuD7qoiU3XUufqf5g </a>
<br /><b>Instagram:</b> <a href="https://www.instagram.com/odhfoundation/?igshid=OTJhZDVkZWE%3D" target="_blank">https://www.instagram.com/odhfoundation/?igshid=OTJhZDVkZWE%3D</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-title"><a data-parent="#accordion1" data-toggle="collapse" href="#accordion20" class="collapsed" aria-expanded="false"><span class="open-sub"></span><strong> Which age group’s children ODH Foundation team mostly cover in their project?</strong></a> </div>
                            <div id="accordion20" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                                <div class="panel-content">
                                    <p>ODH Foundation team did not discriminate children for their age. Children covers in project are mostly belong to 3 -17 year age.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-title"><a data-parent="#accordion1" data-toggle="collapse" href="#accordion21" class="collapsed" aria-expanded="false"><span class="open-sub"></span><strong>How ODH Foundation team identify needy children to help them?</strong></a> </div>
                            <div id="accordion21" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                                <div class="panel-content">
                                    <p>ODH Foundation team visit backward area of states and talk to people, collect some data and then we will identify those children who are in real need and want to go ahead in life.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-title"><a data-parent="#accordion1" data-toggle="collapse" href="#accordion22" class="collapsed" aria-expanded="false"><span class="open-sub"></span><strong> Did ODH Foundation directly provide financial help to children or their organization like school, hospital for helping them?</strong></a> </div>
                            <div id="accordion22" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                                <div class="panel-content">
                                    <p>ODH Foundation doesn’t give funds directly to children or their families. ODH Foundation pay their fee on behalf of them to organizations.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-title"><a data-parent="#accordion1" data-toggle="collapse" href="#accordion23" class="collapsed" aria-expanded="false"><span class="open-sub"></span><strong> Does ODH Foundation have annual audits?</strong></a> </div>
                            <div id="accordion23" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                                <div class="panel-content">
                                    <p>Yes, ODH Foundation has annual audits and files IT returns. </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-title"><a data-parent="#accordion1" data-toggle="collapse" href="#accordion24" class="collapsed" aria-expanded="false"><span class="open-sub"></span><strong> Does ODH Foundation receive government funding?  </strong></a></div>
                            <div id="accordion24" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                                <div class="panel-content">
                                    <p>As an NGO (non-government organisation), we do not receive any direct government funding allowing us to stay independent, making unbiased evaluations of government policies and programmes. The government has also extended positive tax and duty exemptions to us, enabling us minimize costs. </p>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-title"><a data-parent="#accordion1" data-toggle="collapse" href="#accordion25" class="collapsed" aria-expanded="false"><span class="open-sub"></span><strong> How can I donate fund to ODH Foundation?</strong></a> </div>
                                <div id="accordion25" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                                    <div class="panel-content">
                                        <p>
                                            There are 4 easy ways of donating funds to ODH Foundation given below:</p><br />
<li><strong><span class="text-theme-colored">Through Our Representative: </span></strong>In this method you should draw a cheque in favor of “ODH Foundation” and our representative will meet you at any place in India as per your convenience and you can give your contribution to him.</li>

<li><strong><span class="text-theme-colored">Via Courier or Speed Post:</span></strong> You can send your contribution by Cheque in favor of “ODH Foundation” to our registered address LIG 127 Ratanpur, Panki, Kanpur Nagar -208020.</li>


<li><strong><span class="text-theme-colored">Through Net Banking:</span></strong> You can donate funds to ODH Foundation by NEFT/RTGS using net banking facility. For this transaction you will need our following details:</li><br />
<table class="table table-bordered">
    <tbody>
      <tr>
        <th>BANK NAME :</th>
        <td>ICICI Bank </td>
      
      </tr>
         <tr>
        <th>Beneficiary Account Name :</th>
        <td>ODH FOUNDATION</td>
      
      </tr>
         
        
         <tr>
        <th>Account Number :</th>
        <td> 407905000870</td>
      
      </tr>
         <tr>
        <th>Account Type:</th>
        <td>Current Account</td>
      </tr>
         <tr>
        <th>IFSC Code:</th>
        <td>ICIC0004079</td>
      </tr>
         <tr>
        <th>BANK NAME :</th>
        <td>Punjab National Bank  </td>
      
      </tr>
         <tr>
        <th>Beneficiary Account Name :</th>
        <td>ODH FOUNDATION</td>
      
      </tr>
         
         
         <tr>
        <th>Account Number :</th>
        <td> 1892002100008186</td>
      
      </tr>
         <tr>
        <th>Account Type:</th>
        <td>Current Account</td>
      </tr>
         <tr>
        <th>IFSC Code:</th>
        <td>PUNB0189200</td>
      </tr>
    </tbody>
  </table>
	
							
			

<li><strong><span class="text-theme-colored">Through Website:</span></strong> You can donate funds to ODH Foundation by using payment gateway facility. For this you have to visit ODH Foundation website <a href="https://www.odhfoundation.org" target="_blank"> www.odhfoundation.org</a>  then click on Donate us option after that you can donate your desire amount using the any one option like UPI, Debit/Credit Card and Net banking.</li>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-title"><a data-parent="#accordion1" data-toggle="collapse" href="#accordion26" class="collapsed" aria-expanded="false"><span class="open-sub"></span><strong> Can I issue a post dated cheque to ODH Foundation for donation?</strong></a> </div>
                                <div id="accordion26" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                                    <div class="panel-content">
                                        <p>Yes, you can also issue a post dated cheque to ODH Foundation, it's valid. In case of dishonor of cheque, your donation will be treated as invalid and you will not be able to take advantage of tax exemption under section 80 G of income tax law.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-title"><a data-parent="#accordion1" data-toggle="collapse" href="#accordion27" class="collapsed" aria-expanded="false"><span class="open-sub"></span><strong> Can I send a donation cheque to directly ODH Foundation office?</strong></a> </div>
                                <div id="accordion27" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                                    <div class="panel-content">
                                        <p>Yes, you can send your donation cheque in favour of "ODH Foundation", a copy of Pan card & aadhar card  at our correspondence office Address ODH Foundation LIG 127 Ratanpur,  Panki, Kanpur  Nagar -208020</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-title"><a data-parent="#accordion1" data-toggle="collapse" href="#accordion28" class="collapsed" aria-expanded="false"><span class="open-sub"></span><strong> Can I deposit a donation cheque directly into any bank near me where ODH Foundation has an account?</strong></a> </div>
                                <div id="accordion28" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                                    <div class="panel-content">
                                        <p>Yes, you can deposit a donation cheque filled in favour of "ODH Foundation" into any branch of ICICI Bank or Punjab National Bank near you in any state or district. For this, you have to write the account number of ODH Foundation and the name of the account ODH Foundation on the back of the cheque in the bank in which you are making the deposit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-title"><a data-parent="#accordion1" data-toggle="collapse" href="#accordion29" class="collapsed" aria-expanded="false"><span class="open-sub"></span><strong> Who do I contact if I have a question or issue with my donation?</strong></a> </div>
                                <div id="accordion29" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                                    <div class="panel-content">
                                        <p>
                                            You may contact us via mail at contactus@odhfoundation.org or by phone at 0512-2220000,
+91-9795505106
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- divider: what makes us different -->
    <section class="divider parallax layer-overlay overlay-white-9" data-parallax-ratio="0.1" data-bg-img="../Content/Home/images/bg/bg2.jpg">
        <div class="container">
            <div class="section-content text-center">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="mt-0">Did not find your answer?</h3>
                        <h2>Just call us on <span class="text-theme-color-2">0512-2220000 or +91-9795505106 </span>   for more information</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- end main-content -->
