@{
    ViewBag.Title = "Weekly Medical Camp in Rural Areas";
}




<style>

    ul {
        list-style-type: square;
    }
     body {
        text-align:justify;
        
    }
</style>
<!-- Start main-content -->
<div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="../Content/Home/images/bg/bg6.jpg">
        <div class="container pt-70 pb-20">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title text-white text-center">Weekly Medical Camp in Rural Areas</h2>
                        <ol class="breadcrumb text-left text-black mt-10">
                            <li><a href="#">Home</a></li>
                            <li><a href="../Home/MedicalCamp">Weekly Medical Camp in Rural Areas</a></li>

                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: About -->
    <section id="about">
        <div class="container pr-0 pl-30 mt-60 pb-40 pt-0">
            <div class="section-content">
                <div class="row mt-10">
                    <div class="col-xs-12 col-sm-12 col-md-12 mb-sm-20 p-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h3 class="text-theme-colored mt-0 pt-5">Why Weekly Medical Camp </h3>
                        <p class="mb-20">Generally Health care professionals conducts Medical camps to carry out a limited health mediation amongst the underprivileged people. The poor attend these camps to get free check-up and treatment. Getting the appropriate kind of health check-up is very important for everyone. And during this process they take account on some important details like age, lifestyle, family background and risks.</p>
                        <p class="mb-20">Health examinations and tests at the early stages of the illness can help to cure it faster. And can also save a life before it can cause any damage to the person. One can live longer and healthier only when the individual gets the right kind of health check-up, screening, and treatments in the proper time being. Even the most basic check-up can identify underlying illnesses.  </p>
                        <p class="mb-20">Free medical camps provides the poor population with overall physical examinations. These include eyes and health check-ups, assessment of the functioning of vital organs like the heart, lungs etc. Free medical camps are extremely helpful for the poor population. Because they earn a meagre income and cannot afford expensive healthcare services offered by hospitals or clinics.</p>
                        
                    </div>

                </div>
            </div>
            <div class="section-content">
                <div class="row mt-10">
                    <div class="col-xs-12 col-sm-12 col-md-12 mb-sm-20 p-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h3 class="text-theme-colored mt-0 pt-5">What we do</h3>
                      <p class="mb-20">The main objective of the free medical camp is to provide initial free medical and surgical services to poor communities living in rural or urban areas and to act as an emergency team in disasters, registering rare and serious cases and referring them to specialized centres. To create health awareness among the community and teach them to deal with communicable and non-communicable, refer medical cases towards surgeries if required.</p>
                        <p class="mb-20">ODH Foundation through fully equipped mobile healthcare vans staffed with specialized doctors and paramedics are there to execute the camp, reaches out to hard-to-reach areas and provides OPD services, point-of-care testing facilities and medicines.</p>
                         <p class="mb-20"><strong><b>Join us in helping to bring a positive change to the lives of the poor and the needy!</b></strong></p>



                        <a class="btn btn-colored btn-theme-colored btn-lg text-uppercase font-13 mt-0" href="../Home/Donation?cause=Weekly Medical Camp In Rural Areas">Donate Now</a>


                    </div>

                </div>
            </div>

        </div>
    </section>



</div>
<!-- end main-content -->


