@{
    ViewBag.Title = "Our_Project";
}


<!-- Start main-content -->
<div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="../Content/Home/images/bg/bg6.jpg">
        <div class="container pt-70 pb-20">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="title text-white">Our Project</h2>
                        <ol class="breadcrumb text-center text-black mt-10">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Our Project</a></li>
                           
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="container mb-0 pt-0 mt-60">
            <div class="section-content">
                <div class="row mt-10">
                    <div class="col-xs-12 col-sm-6 col-md-6 mb-sm-20 p-20 pt-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h3 class="text-uppercase line-bottom mt-0"><span class="text-theme-colored">Health</span></h3>
                        <p class="mb-15" style="text-align: justify">Young team of ODh is doing a wonderful job.Now the tagline “ab baari hai humari” is not only the tagline of " ODH Foundation ", Should be India's tagline too.Youth is a new change maker, they had the courage to follow their heart into the heartland of the nation.Youth is a new change maker, they had the courage to follow their heart into the heartland of the nation.</p>


                        <a class="btn btn-colored btn-theme-colored btn-lg text-uppercase font-13 mt-10" href="../Home/Contact">Contact US</a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 wow fadeInUp animation-delay4">
                        <img src="~/Content/Home/projectimg/image7.jpg"  style="height:350px"/>
                    </div>

                </div>
                <div class="row mt-10">
                      <div class="col-xs-12 col-sm-6 col-md-6 wow fadeInUp animation-delay4">
                        <img src="~/Content/Home/projectimg/school_india_children.jpg" style="height:350px" />
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 mb-sm-20 p-20 pt-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h3 class="text-uppercase line-bottom mt-0"><span class="text-theme-colored">Education</span></h3>
                        <p class="mb-15" style="text-align: justify">“By " ODH Foundation " | Jun 2023 | Child, Education, News, Program.Less than half of India's children between the age 6 and 14 go to school. A little over one-third of all children who enroll in grade one reach grade eight. At least 35 million children aged 6 - 14 years do not attend school. 53% of girls in the age group of 5 to 9...”</p>


                        <a class="btn btn-colored btn-theme-colored btn-lg text-uppercase font-13 mt-10" href="../Home/Contact">Contact US</a>
                    </div>
                  

                </div>
                  <div class="row mt-10">
                    <div class="col-xs-12 col-sm-6 col-md-7 mb-sm-20 p-20 pt-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h3 class="text-uppercase line-bottom mt-0"> <span class="text-theme-colored">Environment</span></h3>
                        <p class="mb-15" style="text-align: justify">An Environment is everything that is around us, which includes both living and nonliving things such as soil, water, animals and plants, which adapt themselves to their surroundings. It is nature's gift that helps in nourishing life on Earth.</p>


                        <a class="btn btn-colored btn-theme-colored btn-lg text-uppercase font-13 mt-10" href="../Home/Contact">Contact US</a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-5 wow fadeInUp animation-delay4">
                        <img src="~/Content/Home/projectimg/envi.jpg" style="height:350px"/>
                    </div>

                </div>
                <div class="row mt-10">
                      <div class="col-xs-12 col-sm-6 col-md-6 wow fadeInUp animation-delay4">
                       <img src="~/Content/Home/projectimg/img_3.jpg" style="height:350px"/>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 mb-sm-20 p-20 pt-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h3 class="text-uppercase line-bottom mt-0"><span class="text-theme-colored">Livelihood</span></h3>
                        <p class="mb-15" style="text-align: justify">“The Livelihoods Program works closely with the public and private sector to create inclusive and sustainable livelihoods for individuals, families, and communities across India with a long-term goal of equalizing the informal and formal sectors to provide equitable opportunities for all citizens.It works to create a re-imagined job and entrepreneurship ecosystem in India.”</p>


                        <a class="btn btn-colored btn-theme-colored btn-lg text-uppercase font-13 mt-10" href="../Home/Contact">Contact US</a>
                    </div>
                  

                </div>
                <div class="row mt-10">
                    <div class="col-xs-12 col-sm-6 col-md-7 mb-sm-20 p-20 pt-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h3 class="text-uppercase line-bottom mt-0"> <span class="text-theme-colored">Agricultural</span></h3>
                        <p class="mb-15" style="text-align: justify">Agriculture is the practice of cultivating plants and livestock in order to provide facilities the human beings. In the rise of the sedentary human lifestyle agriculture was the key development. The cultivation of plant and food grains began years ago in order to provide food to the city population. Agriculture is the main need for the people to live in the society. Agriculture is the main source of livelihood, it provides a source for the people to earn. Most of the population in the rural areas is dependent on agriculture as their main source of income..</p>


                        <a class="btn btn-colored btn-theme-colored btn-lg text-uppercase font-13 mt-10" href="../Home/Contact">Contact US</a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-5 wow fadeInUp animation-delay4">
                        <img src="~/Content/Home/projectimg/agri1.jpg" style="height:350px" />
                    </div>

                </div>
                <div class="row mt-10">
                      <div class="col-xs-12 col-sm-6 col-md-6 wow fadeInUp animation-delay4">
                       <img src="~/Content/Home/projectimg/sport.jpg" style="height:350px" />
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 mb-sm-20 p-20 pt-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h3 class="text-uppercase line-bottom mt-0"><span class="text-theme-colored">Sports & Events</span></h3>
                        <p class="mb-15" style="text-align: justify">“Research on sport participation impacts from sport events has been sporadic. This scoping review assesses the current state of literature that addresses impacts, legacies, and leveraging of sport events for sport participation outcomes and the gaps in terms of study context and research designs. Two systematic approaches of article identification were performed: a traditional database search and a systematic manual search. Studies on sport participation outcomes from events mainly focused on mega sport events and adult populations, with the majority employing cross-sectional data and quantitative methods.”</p>


                        <a class="btn btn-colored btn-theme-colored btn-lg text-uppercase font-13 mt-10" href="../Home/Contact">Contact US</a>
                    </div>
                  

                </div>
                   <div class="row mt-10">
                    <div class="col-xs-12 col-sm-6 col-md-7 mb-sm-20 p-20 pt-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h3 class="text-uppercase line-bottom mt-0"> <span class="text-theme-colored">Urban Renewal</span></h3>
                        <p class="mb-15" style="text-align: justify">The term 'Urban Renewal' refers to renewing a city or a part of it by regenerating them. The cities which face old infrastructure and that cannot cope up with rapid changes cause degeneration and weak systems. Thus Urban renewal gives life to the cities that are dying. Today the world is facing rapid changes in urbanization..</p>


                        <a class="btn btn-colored btn-theme-colored btn-lg text-uppercase font-13 mt-10" href="../Home/Contact">Contact US</a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-5 wow fadeInUp animation-delay4">
                       <img src="~/Content/Home/projectimg/urban.jpg" style="height:350px" />
                    </div>

                </div>
                <div class="row mt-10">
                      <div class="col-xs-12 col-sm-6 col-md-6 wow fadeInUp animation-delay4">
                      <img src="~/Content/Home/projectimg/rural.jpg" style="height:350px" />
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 mb-sm-20 p-20 pt-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h3 class="text-uppercase line-bottom mt-0"><span class="text-theme-colored">Rural Development</span></h3>
                        <p class="mb-15" style="text-align: justify">“Rural development usually refers to the method of enhancing the quality of life and financial well-being of individuals, specifically living in populated and remote areas.Rural development is considered to be of noticeable importance in the country today than in the olden days in the process of the evolution of the nation. It is a strategy that tries to obtain an improved and productivity, higher socio-economic equality and ambition, and stability in social and economic development.”</p>


                        <a class="btn btn-colored btn-theme-colored btn-lg text-uppercase font-13 mt-10" href="../Home/Contact">Contact US</a>
                    </div>
                  

                </div>
                 <div class="row mt-10">
                    <div class="col-xs-12 col-sm-6 col-md-7 mb-sm-20 p-20 pt-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h3 class="text-uppercase line-bottom mt-0"> <span class="text-theme-colored">Women Empowerment</span></h3>
                        <p class="mb-15" style="text-align: justify">By " ODH Foundation " | Jun 2023 | Education, health, News, Program, Women.Among numerous vital issues in a developing country like India, women have many unique health concerns including menstrual cycles, pregnancy, birth control, menopause to name the least. Many diseases affect women differently and may even require distinct treatment.</p>


                        <a class="btn btn-colored btn-theme-colored btn-lg text-uppercase font-13 mt-10" href="../Home/Contact">Contact US</a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-5 wow fadeInUp animation-delay4">
                       <img src="~/Content/Home/projectimg/Women’sHealthProblem.jpg" style="height:350px" />
                    </div>

                </div>
                <div class="row mt-10">
                      <div class="col-xs-12 col-sm-6 col-md-6 wow fadeInUp animation-delay4">
                    <img src="~/Content/Home/projectimg/desaster.jpg"  style="height:350px"/>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 mb-sm-20 p-20 pt-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h3 class="text-uppercase line-bottom mt-0"><span class="text-theme-colored">Disaster Management</span></h3>
                        <p class="mb-15" style="text-align: justify">“Disaster, as defined by the " ODH Foundation " is a serious disruption of the functioning of a community or society, which involve widespread human, material, economic or environmental impacts that exceed the ability of the affected community or society to cope using its own resources . Disaster management is how we deal with the human, material, economic or environmental impacts of said disaster, it is the process of how we “prepare for, respond to and learn from the effects of major failures”.</p>


                        <a class="btn btn-colored btn-theme-colored btn-lg text-uppercase font-13 mt-10" href="../Home/Contact">Contact US</a>
                    </div>
                  

                </div>
                 <div class="row mt-10">
                    <div class="col-xs-12 col-sm-6 col-md-7 mb-sm-20 p-20 pt-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h3 class="text-uppercase line-bottom mt-0"> <span class="text-theme-colored">Art & Culture</span></h3>
                        <p class="mb-15" style="text-align: justify">Art is intended to be a form of appreciation of beauty and expression of emotional power. Culture serves as a guideline for behaviour, dress, language, and demeanour in a situation, which serves as a template for expectations in a social group.</p>


                        <a class="btn btn-colored btn-theme-colored btn-lg text-uppercase font-13 mt-10" href="../Home/Contact">Contact US</a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-5 wow fadeInUp animation-delay4">
             <img src="~/Content/Home/projectimg/art.jpg" style="height:350px"/>
                    </div>

                </div>
            </div>
        </div>
    </section>

   
</div>
<!-- end main-content -->


