@{
    ViewBag.Title = "Rural Development";
}




<style>

    ul {
        list-style-type: square;
    }
     body {
        text-align:justify;
        
    }
</style>
<!-- Start main-content -->
<div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="../Content/Home/images/bg/bg6.jpg">
        <div class="container pt-70 pb-20">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title text-white text-center">Rural Development</h2>
                        <ol class="breadcrumb text-left text-black mt-10">
                            <li><a href="#">Home</a></li>
                            <li><a href="../Home/RuralDevelopment">Rural Development</a></li>

                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: About -->
    <section id="about">
        <div class="container pr-0 pl-30 mt-60 pb-40 pt-0">
            <div class="section-content">
                <div class="row mt-10">
                    <div class="col-xs-12 col-sm-12 col-md-12 mb-sm-20 p-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h3 class="text-theme-colored mt-0 pt-5">Why Rural Development  </h3>
                        <p class="mb-20">Rural development is a process of improving the quality of life and economic well-being of the people living in rural areas. The development of the rural economy in India is one of the most important factors for the growth of the Indian economy. The Indian economy is largely based on agriculture. In India, agriculture accounts for nearly one-fifth of our gross domestic product. A number of programs pertaining to rural development in India have been planned by the Indian Government to stimulate the growth of agriculture. For the development of the rural sector in India, the Ministry of Rural Development is the apex body for formulating policies, regulations and acts. </p>
                        <p class="mb-20">According to the census of Indiadata, 75% population of our country reside in the countryside. The number of villages in India is between near about 649,481, most of the population involved in the agriculture sector, and the main occupation is farming, but in the production, political mobilization and social organization rural sector is extremely backward and the backwardness of the rural sector is a major impediment to the overall progress of the country’s economy. India’s total GDP agriculture accounts for 22% and provides a livelihood for 58% of its population and the big part of the population has been leading an uncertain economic life due to employment opportunities this sector. The rural businesses and economies are dominated by agriculture, handicrafts, fisheries, poultry and dairy products.</p>


                    </div>

                </div>
            </div>
            <div class="section-content">
                <div class="row mt-10">
                    <div class="col-xs-12 col-sm-12 col-md-12 mb-sm-20 p-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h3 class="text-theme-colored mt-0 pt-5">What we do</h3>
                        <p class="mb-20">ODH Foundation's present strategy of rural development in India mainly focuses on poverty alleviation, better livelihood opportunities for the villagers,  raising the living standards of the underprivileged, infrastructure facilities through innovative programs of wage and self-employment, financial support to the students of unprivileged families and prepare for competitive exams, Organized various awareness and training programs base on scientific research for farmers and arrange various high yield seeds and provision of basic amenities like elementary education, healthcare, clean drinking water, rural roads etc.</p>


                        <p class="mb-20"><strong><b>Support for a change, and make this nation a better place.</b></strong></p>



                        <a class="btn btn-colored btn-theme-colored btn-lg text-uppercase font-13 mt-0" href="../Home/Donation">Donate Now</a>


                    </div>

                </div>
            </div>

        </div>
    </section>



</div>
<!-- end main-content -->

