@{
    ViewBag.Title = "Sports";
}


<style>

    ul {
        list-style-type: square;
    }
     body {
        text-align:justify;
        
    }
</style>
<!-- Start main-content -->
<div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="../Content/Home/images/bg/bg6.jpg">
        <div class="container pt-70 pb-20">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title text-white text-center">Sports</h2>
                        <ol class="breadcrumb text-left text-black mt-10">
                            <li><a href="#">Home</a></li>
                            <li><a href="../Home/Sports">Sports</a></li>

                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: About -->
    <section id="about">
        <div class="container pr-0 pl-30 mt-60 pb-40 pt-0">
            <div class="section-content">
                <div class="row mt-10">
                    <div class="col-xs-12 col-sm-12 col-md-12 mb-sm-20 p-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h3 class="text-theme-colored mt-0 pt-5">Why Sports  </h3>
                        <p class="mb-20">Sports are very essential for every human life which keeps them fit and fine and physical strength. It has great importance in each stage of life. It also improves the personality of people. Sports keep our all organs alert and our hearts become stronger by regularly playing some kind of sports.India is a country of contrasts where on one hand, we are moving fast towards growth and development while on the other hand millions of children of our country who are being denied the right to play. There is no dearth of sporting talent in India and yet we have not been able to take advantage of it. The positive thing is that despite the lack of funds, today children and youth are competing to achieve a place in sports.</p>
                        <p class="mb-20">ODH Foundation has start an initiative to promote the concept of sports amongst children from all backgrounds and to engage them in sports, especially Cricket and football as a means to fitness. Improving health through sports is the key agenda of this project. Overseen by professional coaches, the program aims at a happy, healthy and fit India. We provide sports equipment to the hubs we work in and engage children in tournaments. These hubs serve as a platform for budding coaches to start their career and learn. Additional support provided is in the form of Cricket and football sports kits, diet, special camps, sports equipment, medical assistance, local and outstation tournament, higher education support for deserving students to enable them to play to their fullest potential.</p>
                             <p class="mb-20">Children and youth are being affected. If we would not guide properly at the right time, they succumb to evils like alcohol, tobacco, drugs or antisocial activities. Playing a sport is an excellent way to effectively channelize their enormous energy in the right direction and preparing them to be model citizens and ideal humans. Athletes who work towards their highest potential can inspire countless others to Endeavour for excellence and be stellar examples of ideal citizens.</p>


                    </div>

                </div>
            </div>
            <div class="section-content">
                <div class="row mt-10">
                    <div class="col-xs-12 col-sm-12 col-md-12 mb-sm-20 p-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h3 class="text-theme-colored mt-0 pt-5">What we do</h3>
                        <p class="mb-20">ODH Foundation believes in sports as a medium to encourage lifelong learning and to build character and leadership skills among the youth of India our future nation builders. Besides using sports to empower the youth, we aim to create a platform for the champions of the future. Besides, the ODH Foundation nurtures sporting talent from across India at the grassroots stage and help them grow into high performers through multi-pronged programmes, and in the process helps India set the bar high in sports.</p>


                        <p class="mb-20"><strong><b>Why not help a child unlock the door to a better future today?</b></strong></p>



                        <a class="btn btn-colored btn-theme-colored btn-lg text-uppercase font-13 mt-0" href="../Home/Donation">Donate Now</a>


                    </div>

                </div>
            </div>

        </div>
    </section>



</div>
<!-- end main-content -->

