@{
    ViewBag.Title = "VolunteerInfo";
    
}



<style>

    ul {
        list-style-type: square;
    }
    body p h3 h5 {
        text-align:justify;
         
    }
</style>
  <!-- Start main-content -->
  <div class="main-content bg-lighter">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="../Content/Home/images/bg/bg6.jpg">
      <div class="container pt-70 pb-20">
        <!-- Section Content -->
        <div class="section-content">
          <div class="row">
            <div class="col-md-12">
              <h5 class="title text-white text-center">Volunteer</h5>
              <ol class="breadcrumb text-left text-white mt-14">
                <li><a href="#">Home</a></li>
                <li><a href="../Home/VolunteerInfo">Volunteer</a></li>
             
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
         
          <div class="col-md-10 col-md-push-1">
            <div id="section-one" class="mb-50">
              <h3 class="text-theme-colored mt-0 pt-5">Volunteer Opportunities</h3>
              <hr>
              <p class="mb-20">Volunteering is contribution of time, effort and talent to a need, cause or mission without financial gain. Volunteering is all about you being able to contribute some of your own time to help people in our communities.</p>
                            <p class="mb-20">Volunteers are idealistically motivated persons who want to devote some portion of their lives to serving others. To do volunteer services for the organization depends upon the personal desire of the individual. Individual are actively participating for voluntary services for their own satisfaction.</p>
                              <p class="mb-20">ODH Foundation believes that sustainable change, the citizens of the society have to be proactively involved in the process of development.ODH Foundation giving opportunities for volunteers like Students, Businessman, work professional, Home maker, Retired individual, Ex- Service man and even currently working young people who would like to serve their free time as a part of volunteering. It is purely an unpaid service from the volunteers. The volunteers can spend their time with ODH Foundation in giving trainings, sessions to children, fundraising opportunities, operation, teaching and can participate in community work etc. ODH Foundation will not provide any stipend/salary to volunteers. Volunteers are the backbone of every organization. They not only carry the organization’s ideals within them, but also spread the message far and beyond, sensitizing the society towards the cause.  We expect volunteers behave in a professional and responsible manner during their time of their work with us in which they would be given a specific task of their interest which they can perform.</p>

            </div>
            
           
            <div id="section-four" class="mb-50">
             
              <h5 class="text-theme-colored mt-0 pt-5">ODH Foundation has many Online/Offline Volunteer Opportunities:</h5>
              <p class="mb-20">Many times, you feel the need to work for a good cause but somehow your busy routine holds you back and then when you get time to look back, you try to convince yourself by saying that If I had time, I would have contributed a little bit to the society.But believe us if you have the guts and passion to support a cause then you too can bring smile on the face of the underprivileged children of the society and can help for women empowerment and to make the environment protected and pollution free all this without it being any demanding on your daily routine.<br />
                 
</p>
             
            </div>
            <div id="section-five" class="mb-50">
              <h5 class="text-theme-colored mt-0 pt-5">
                  You can instantly join ODH Foundation as a Social Media Management Volunteer and you can start contributing by:
</h5>
   
              <ul>
                  <li>Promote ODH Foundation in your social media account and ask your friends to follow us on Twitter, Facebook, YouTube and Instagram.</li>
                  <br /><li>Introduce ODH Foundation on all your online communities like WhatsApp group, Facebook page, Telegram community, YouTube channel etc.</li>
                  <br /><li>Download and share our banners, post, link,wallpaper on your social media profile etc.</li>
                  <br /><li>Forwarding our email campaigns to your friends and help the ODH Foundation spread the awareness for the cause.</li>
                             
              
              </ul>
            </div>
              
              <div id="section-six" class="mb-50">
             
              <h5 class="text-theme-colored mt-0 pt-5">Content Writing Opportunities for Volunteers</h5>
              <p class="mb-20">If you are a Content writer, then you can write effective content for a cause to support the ODH Foundation.</p>
             
            </div> 
              <div id="section-seven" class="mb-50">
             
              <h5 class="text-theme-colored mt-0 pt-5">Blog Writing Opportunities for Volunteers</h5>
              <p class="mb-20">If you are a blogger, write about ODH Foundation in your blog and let people know that you support the cause. You can also write in your blog what you feel about ODH Foundation and the cause we work for and inspire people to join ODH Foundation.
</p>
             
            </div> 
              <div id="section-eight" class="mb-50">
             
              <h5 class="text-theme-colored mt-0 pt-5">Fundraising Strategy Opportunities for Volunteers</h5>
              <p class="mb-20">Do you have experience in helping NGOs with Fundraising? If yes, ODH Foundation is looking for volunteers to work on the following tasks: - Do research on new leads - Help the NGO draft the outreach email and provide suggestions on how best they can engage with donors using new technology. - Help the NGO draft a good proposal. Volunteers can work from any location as it is a remote opportunity. Join and make a difference.</p>
 <p class="mb-20">The ideal candidate for this position is someone who is passionate about our mission, has strong communication and interpersonal skills, and is comfortable working with a diverse group of people.</p>
             
            </div>
              <div id="section-nine" class="mb-50">
                  <h5 class="text-theme-colored mt-0 pt-5">Chartered Accountant Opportunities for Volunteers</h5>
              <p class="mb-20">If you have a Certified Chartered Accountant (CA) with a valid license to practice. Proven experience in financial management, accounting, and taxation. Strong knowledge of accounting principles and standards, as well as tax laws and regulations. Excellent analytical and problem-solving skills. Attention to detail and accuracy in financial reporting and record-keeping. Ability to work collaboratively with other volunteers and staff. Strong communication and interpersonal skills. Commitment to the organization's mission and values. If you are a certified Chartered Accountant and want to use your skills and expertise to make a positive impact, this is an exciting opportunity to get involved with our organization and help us to achieve our financial goals.
                  
</p>
    <h5 class="text-theme-colored mt-0 pt-5">Key Responsibilities:</h5>
              <ul>
                  <li>Manage and maintain accurate financial records for the organization.</li>
                  <br /><li>Review and analyse financial reports and provide recommendations for improving financial performance and efficiency.</li>
                  <br /><li>Develop and implement financial policies and procedures to ensure compliance with legal and regulatory requirements.</li>
                  <br /><li>Assist in budget preparation, monitoring, and reporting. Provide guidance and advice to the organization's staff and volunteers on financial matters. Ensure that all financial transactions are recorded and reported accurately and in a timely manner.</li>
                  <br /><li>Work collaboratively with other volunteers and staff to ensure financial accountability and transparency.</li>
                  <br /><li>Assist in the preparation of financial reports for donors, grant applications, and other external stakeholders.</li>
                  <br /><li>Advise the organization on tax laws and regulations, and ensure that the organization remains in compliance with all relevant tax laws. Participate in audits and other financial reviews as required.</li>
          
              
              </ul>
            </div>
              <div id="section-ten" class="mb-50">
             
              <h5 class="text-theme-colored mt-0 pt-5">Legal adviser Opportunities for Volunteers</h5>
              <p class="mb-20">Do you have an academic or professional background in the legal field? If yes, ODH Foundation is looking for volunteers who would like to support the NGO via advocacy, Research various laws and Draft documents.</p>
 <p class="mb-20">The ideal candidate for this position is someone who is passionate about our mission, has strong communication and interpersonal skills and with Legal background.</p>
             
            </div>
              <div id="section-eleven" class="mb-50">
             
              <h5 class="text-theme-colored mt-0 pt-5">Human Resource Opportunities for Volunteers</h5>
              <p class="mb-20">Do you have an academic or professional background in the Human Resource field? If yes, ODH Foundation is looking for volunteers who would like to support the NGO via carrying out some responsibilities like Onboardnew volunteers to different teams, Track progress of the volunteers, Volunteer engagement & team meetings, Good communication skills and marketing knowledge.</p>
             
            </div>
              <div id="section-twelve" class="mb-50">
             
              <h5 class="text-theme-colored mt-0 pt-5">Operations Intern Opportunities for Volunteers</h5>
              <p class="mb-20">We are seeking a passionate and driven individual who shares our values and is committed to making a difference. If you are interested in joining our ODH Foundation team and making a difference, we encourage you to apply for this exciting opportunity. Selected intern's day-to-day responsibilities include the below task: </p>
              <ul>
                  <li>Coordinating with the NGO community.</li>
                  <br /><li>Helping us plan events and activities.</li>
                  <br /><li>Reaching out to other NGOs for collaboration - Excellent communication and interpersonal skills - Able to work effectively in a team environment.</li>
                             
              
              </ul>
            </div>
              <div id="section-eleven1" class="mb-50">
             
              <h5 class="text-theme-colored mt-0 pt-5">Graphic Designer Opportunities for Volunteers</h5>
              <p class="mb-20">Are you a person who is artistically creative? We are looking for one such person who is interested in depicting our story. We are active in the core areas of education, health, sustainable livelihoods, skill development and women economic empowerment, innovative healthcare awareness program, empower underprivileged children and we are in need of a compelling word artist who can research and write content for us. The Graphic Designer would be working with the team to articulate our thoughts into compelling creatives for various platforms such as social media, website, presentations etc. We are a team of collaborators who come from different backgrounds. The candidate must have proven designing skills for social media. Join ODH Foundation for a fun and memorable learning experience.</p>
             
            </div>
              <div id="section-twelve1" class="mb-50">
             
              <h5 class="text-theme-colored mt-0 pt-5">Research and Data Entry InternOpportunities for Volunteers</h5>
              <p class="mb-20">Do you have a good communication skills in Hindi/English language and basic knowledge of computer & MS Office? If yes, ODH Foundation is looking for volunteers who would like to support the NGO via included below task: </p>
              <ul>
                  <li>Volunteer will be required to call the NGO beneficiaries and collect information based on the parameters set by the NGO.</li>
                  <br /><li>Data has to be entered in excel sheets.</li>
                  <br /><li>The collected data has to be scanned and saved in a folder.</li>
                             
              
              </ul>
            </div>
              <div id="section-eleven2" class="mb-50">
             
              <h5 class="text-theme-colored mt-0 pt-5">Offline Volunteer Opportunities</h5>
              <p class="mb-20">Your contribution and efforts can make a big difference to someone’s life.Introduce ODH Foundation to your Organization / Institute / Office and anywhere else.You can contribute by providing a platform for ODH Foundation in your Institute or Company. Help us reach your friends and colleagues. You can spread awareness about ODH Foundation and encourage them to donate for this good cause.</p>
             
            </div>
              <div id="section-eleven3" class="mb-50">
             
              <h5 class="text-theme-colored mt-0 pt-5">Opportunities for Events & Campaigns</h5>
              <p class="mb-20">ODH Foundation organizes events and campaigns from time to time. We need volunteers for the same depending on the type of the event. You can do a prior registration for this so that we can contact you and assign the work according to your availability and interest.  Once you join us as a volunteer, we shall keep you updating about the happening of our various events /campaigns.</p>
             
            </div>
              <div id="section-eleven4" class="mb-50">
             
              <h5 class="text-theme-colored mt-0 pt-5">Teaching Offline Opportunities for Volunteers</h5>
              <p class="mb-20">Do you have an academic or professional background in the Education field? Are you skilled at teaching and communication? Would you like to help underprivileged children? If yes, ODH Foundation is looking for you to support them in their cause of child development. We need volunteers to teach Basic English, Hindi & Maths to school children of grades 1 to 8 for 2-3 hours once or twice a week. Training and materials will be provided by the ODH Foundation. Candidates living in and around Kanpur Nagar & Kanpur Dehat preferred this volunteering opportunity with the underprivileged children near you.</p>
             
            </div>
              <div id="section-eleven5" class="mb-50">
             
              <h5 class="text-theme-colored mt-0 pt-5">Computer Teaching Opportunities for Volunteers</h5>
              <p class="mb-20">Are you good at teaching computer programs? If yes ODH Foundation is looking for you. The Volunteer responsibility would include teaching computer programs like MS-Office. Volunteer will be taking 2-3 hour lecture once or twice a week. We need volunteers to teach children of grades 3 to 12 standard in laptop/Desktop which is provided by ODH Foundation.</p>
             
            </div>
              <div id="section-eleven6" class="mb-50">
             
              <h5 class="text-theme-colored mt-0 pt-5">Video Editor Opportunities for Volunteers</h5>
              <p class="mb-20">Are you someone who is visually inclined and is keen to showcase your skills through videography through creatively edited videos? </p>
<p class="mb-20">Would you like to put your skills to good use for a cause by supporting our ODH Foundation? Then ODH Foundation is the best place for you. We are looking for someone with video editing skills and videography in order to be a part of our creative team.
</p>
             
            </div>
              <div id="section-eleven7" class="mb-50">
             
              <h5 class="text-theme-colored mt-0 pt-5">Photography Opportunities for Volunteers</h5>
              <p class="mb-20">We are seeking individuals who can help us with our ongoing campaign "Ab baarihaihamari" as photography volunteers. You will be responsible for capturing photos during the event and sharing the same with the NGO post the event. Note: Volunteers will be required to have a personal camera to cover the event.</p>
             
            </div>
              <div id="section-eleven8" class="mb-50">
             
              <h5 class="text-theme-colored mt-0 pt-5">Monitoring and Evaluation Opportunities for Volunteers</h5>
              <p class="mb-20">Are you good at monitoring and evaluation? Would you like to support an NGO? If yes, ODH Foundation is looking for you. The intern would be working on ● Logic Model ● Indicator Bank ● Data Collection Tools and trackers ● M&E Manual ● Report and report templates ● Data Management System ● M&E Calendar ● Most Significant Change ● Data Analysis Template ● Work with data platforms, databases and select technologies to capture and organize data ● Understand and design the reporting needs to analyse data internally and report externally</p>
             
            </div>
              <div id="section-eleven9" class="mb-50">
             
              <h5 class="text-theme-colored mt-0 pt-5">Join ODH Foundation as adviser</h5>
              <p class="mb-20">You can help us through your services as a adviser for our various departments depending on your skills, your availability and our requirement. You can guide us on Health and Nutrition, Fundraising Operations, Human Resource, Marketing, Finance, Logistics, Online presence, and others. Doctors, Trainers and physicians can support us by conducting workshop /check-ups at our premises for our employees, volunteers & even to the target communities.</p>
             <br />
                    <br />
                    <br />
                   <h3 class=" mt-0 pt-5" > <b>To share your talent or skills,<a href="../Home/Volunteer" style="color:red"> Register Here.......</a></b></h3>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
  <!-- end main-content -->
  
  
