@using odh_foundation.Models;
@{
    UsersContext db = new UsersContext();
  
    var logo = string.Empty;
    var companyname = string.Empty;
    var incometype = string.Empty;

    var r = db.CompanyInfos.Single(ci => ci.Id == 1);
    logo = r.CompanyLogo;
    companyname = r.CompanyName;
    incometype = r.IncomeType;

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "ExpenseMenu";
}

<div class="page-content">

    <div class="container" style="width: 100%; padding-left: 0px; padding-right: 0px;">

        <div class="page-toolbar" style="width: 100%;">

            <div class="page-toolbar-block">
                <div class="page-toolbar-title"></div>


                <h4><b>Welcome, @r.CompanyName</b></h4>
            </div>
            <div style="margin-top: 0px; float: right; margin-right: 10px;">
            </div>

        </div>

        <div class="widget stacked">

            <div class="widget-header">
                <i class="icon-plus"></i>
                <h3>Create</h3>
            </div>
            <!-- /widget-header -->

            <div class="widget-content">

                <div class="shortcuts">
                      <a href="~/Admin/VolunteerList" class="shortcut">
                        <img alt="" src="~/Images/icon/11.png" />
                        <span class="shortcut-label">Volunteer List</span><br />
                    </a>
                    <a href="~/Admin/DonationList" class="shortcut">
                        <img alt="" src="~/Images/icon/73.png" />
                        <span class="shortcut-label">Donation List</span><br />
                    </a>
                <a href="~/Admin/DailyExpense" class="shortcut">
                        <img alt="" src="~/Images/icon/76.png" />
                        <span class="shortcut-label"> Expense Details</span><br />
                    </a>
                    <a href="~/Admin/HeadWiseExpense" class="shortcut">
                        <img alt="" src="~/Images/icon/76.png" />
                        <span class="shortcut-label">Head Expense Details</span><br />
                    </a>
                     <a href="~/Admin/Enquiry_list" class="shortcut">
                        <img alt="" src="~/Images/icon/11.png" />
                        <span class="shortcut-label">Enquiry List</span><br />
                    </a>
                     <a href="~/Admin/SubscriberList" class="shortcut">
                        <img alt="" src="~/Images/icon/64.png" />
                        <span class="shortcut-label">Subscriber List</span><br />
                    </a>
                     <a href="~/Admin/BulkSms" class="shortcut">
                        <img alt="" src="~/Images/icon/68.png" />
                        <span class="shortcut-label">Bulk SMS</span><br />
                    </a>
                     <a href="#" class="shortcut">
                        <img alt="" src="~/Images/icon/10.png" />
                        <span class="shortcut-label">Bulk Email</span><br />
                    </a>
                    <a href="~/Admin/TenBDReport" class="shortcut">
                        <img alt="" src="~/Images/icon/10.png" />
                        <span class="shortcut-label">10 BD Report</span><br />
                    </a>
                  

                     <a href="~/Admin/OperatorList" class="shortcut">
                        <img alt="" src="~/Images/icon/21.png" />
                        <span class="shortcut-label">Operator List</span><br />
                    </a>

                   
                    




                   
                   

                </div>
                <!-- /shortcuts -->

            </div>
            <!-- /widget-content -->

        </div>

    </div>

</div>
  


            
                   



           